
<section class="thirteen columns">
    <h1>
        About Me
    </h1>

    Hello! I am Brian and welcome to my website. I am PhD candidate working the <a href="https://matsumoto.gatech.edu/"><font color="#0000ff">Geometry of Materials Group</font></a> headed by Dr. Elisabetta Matsumoto at the Georgia Institute of Technology. I am research resides near the connection between geometry and dynamics and how they can effect each other in non-intuitive ways. This is largely formalized within the field of Geometric Mechanics, however I am interested in expanding our understanding of how deformable systems can interact with their environment through controlling the shape of their bodies.
    While we have been able to construct solvers to evaluate the dynamics in these curved spaces, they can be difficult to conceptual/visualize given our everyday experience is in flat space. To that end, I have also worked with dynamics visualization using virtual reality (VR) to allow the user immerse themselves in environments, both in flat and curved space, to get a first-hand experience to help build understanding and intuition.
    
    <br>
    <br>

    I also completed my undergraduate degree at the Georgia Institute of Technology. Working under Dr. Deirdre Shoemaker and as a member of the Laser Interferometer Gravitational Wave Observatory (LIGO) Collaboration, I worked as a student research assistant and wrote my undergraduate thesis on model reconstruction of gravitational wave data from binary black hole collisions. 

    <br>
    <br>

<!--     <div style="text-align:center"><img src="https://drenniks.github.io/static/img/kitties.jpg" width="300" height="340"></div> -->

    <br>
    <br>

    When I am not coding or deriving equations, I love hiking, watching horror/science fiction movies, and spending time with my amazing husband and our cats.
    <br>
    <br>

<!--     <div style="text-align:center"><img src="https://drenniks.github.io/static/img/handstand.PNG" width="214" height="463"></div> -->

    <br>
    <br>
