
<section class="thirteen columns">
    <h1>
        About Me
    </h1>

    Hello! I am Brian and welcome to my website. I obtained my PhD in Physics working as a part of the <a href="https://matsumoto.gatech.edu/"><font color="#0000ff">Geometry of Materials Group</font></a> headed by Dr. Elisabetta Matsumoto at the Georgia Institute of Technology. My PhD research sits at the connection between geometry and dynamics particularly in regards to how they can effect each other in non-intuitive ways specifically as it relates to various notions of curvature. Through investigating dynamics from a geometric perspective, I have been able to hone my computational modelling skills as well as gain a better insight into the mathematics connecting various deformable control systems across seemingly disconnected fields. 
    Beyond investigating the dynamics of I am also interested in data visualization. Using the fruits of the ever advancing field of virtual reality (VR), I have been able to work on various projects to help users visualize potentially difficult to conceptualize topics. This includes educational VR environments for students to better 3-dimensional vector fields which show up in both mathematics and physics as well as outreach simulations for users to get a better understanding of certain vector fields with interesting mathematical properties. My journey of researching the connection between curvature and deformable control systems stemmed from developing a general purpose physics engine for a a collection of non-euclidean VR environments developed by my advisor and collaborators.
<!--     
    This is  This is largely formalized within the field of Geometric Mechanics, however I am interested in expanding our understanding of how deformable systems can interact with their environment through controlling the shape of their bodies.
    While we have been able to construct solvers to evaluate the dynamics in these curved spaces, they can be difficult to conceptual/visualize given our everyday experience is in flat space. To that end, I have also worked with dynamics visualization using virtual reality (VR) to allow the user immerse themselves in environments, both in flat and curved space, to get a first-hand experience to help build understanding and intuition. -->
    
    <br>
    <br>

    I also completed my undergraduate degree at the Georgia Institute of Technology. Working under Dr. Deirdre Shoemaker and as a member of the Laser Interferometer Gravitational Wave Observatory (LIGO) Collaboration, I worked as a student research assistant and wrote my undergraduate thesis on parameter reconstruction from model data of gravitational wave data from binary black hole collisions. 

    <br>
    <br>

<!--     <div style="text-align:center"><img src="https://drenniks.github.io/static/img/kitties.jpg" width="300" height="340"></div> -->

    <br>
    <br>

    When I am not coding or deriving equations, I love hiking, watching horror/science fiction movies, and spending time with my amazing husband and our cats.
    <br>
    <br>

<!--     <div style="text-align:center"><img src="https://drenniks.github.io/static/img/handstand.PNG" width="214" height="463"></div> -->

    <br>
    <br>
